@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
a{
  color: white;
}
body{
   margin: 0;
  padding: 0;
	background: url("../image/doc1.jpg");
	background-size: cover;
	background-position: center;
  font-family: 'Open Sans', sans-serif;
}

/*.............NAV.............................*/
nav{
  height: 80px;
	background-color: black;
}
nav img{
	position: absolute;
	width: 200px;
	top: 15px;
	left: 3%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
	background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1118px){
  nav img{
	width: 180px;
    left: 5%;
  }
}
@media (max-width: 944px){
  nav img{
    width: 170px;
		top: 20px;
		left: 6%;
  }
	nav ul li a{
		font-size: 17px;
	}
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #222222;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
	#check:checked ~ label #btn{
    display: none;
  }
	#check:checked ~ label #cancel{
    display: block;
  }
}

/*.......................................CARD...........................................*/


.container
{
	max-width: 1000px;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card
{
	position: relative;
	margin: 20px 0;
	width: 300px;
	height: 400px;
	background: #fff;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 20px rgba(0,0,0,.5);
	transition: 1s;
}
.card:hover
{
	z-index: 10000;
	transform: perspective(2000px) rotate(-10deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card .imgBox
{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 1s cubic-bezier(.15,1.7,.84,.58);
	background: #111;
}
.card .imgBox img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card:hover .imgBox
{
	transform: rotateY(-135deg);
}
.card .details
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16.5px;
	box-sizing: border-box;
	padding: 20px;
	z-index: -1;
	text-align: justify;
}


/*...................................retest.......................................*/

.a1
{
	position: relative;
	left: 50%;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	text-shadow: 6px 3px 2px rgba(0,0,0,.2);
	background: linear-gradient(90deg, #3603ff, #a41ee9);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.a1:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.a1:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #fff, transparent);
	transition: .5s;
}
.a1:hover:before
{
	left: 100%;
}

/*...................................Share.......................................*/

.a2
{
	position: relative;
	margin-top: 20px;
	left: 50%;
	transform: translate(-50%,-50%) perspective(500px);
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	text-shadow: 6px 3px 2px rgba(0,0,0,.2);
	background: linear-gradient(90deg,#66CD00,#7CFC00);
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
	letter-spacing: 1px;
	transition: .5s;
	overflow: hidden;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}
.a2:hover
{
	transform: translate(-50%,-50%) perspective(500px);
	text-shadow: -6px 3px 2px rgba(0,0,0,.2);
}
.a2:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #fff, transparent);
	transition: .5s;
}
.a2:hover:before
{
	left: 100%;
}

/*................PAGE CONTENT............................*/

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .................FOOTER.....................*/

footer{
  
  background: #f1f1f1;
  padding: 50px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #fc5c65;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  top: 15px;
  background: #fc5c65;
}
@media (max-width: 960px){
	
.border{
  width: 100%;
}
	
}

.covid19-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
	text-align: center;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}