@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
   margin: 0;
  padding: 0;
	background-color: #171717;
  font-family: 'Open Sans', sans-serif;
}
/*.............NAV.............................*/
nav{
  height: 80px;
	background-color: black;
}
nav img{
	position: absolute;
	width: 200px;
	top: 15px;
	left: 3%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
	background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1118px){
  nav img{
	width: 180px;
    left: 5%;
  }
}
@media (max-width: 944px){
  nav img{
    width: 170px;
		top: 20px;
		left: 6%;
  }
	nav ul li a{
		font-size: 17px;
	}
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #222222;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
	#check:checked ~ label #btn{
    display: none;
  }
	#check:checked ~ label #cancel{
    display: block;
  }
}
/*...................HERO..1.........................*/
.heading_1
{	
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1
{
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 30px;
	color: #EDEDED;
	text-align: center;
	vertical-align: middle;
}

.info_1
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h3
{
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 30px;
	color: #EDEDED
}

.button_front
{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.00);
  text-align: center;	
}
h4{
  position: relative;
  padding: 20px 20px 20px 30px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: 0.5s;
}
h4:hover
{
  background: #818181;
  transition-delay: 1.5s;
  box-shadow: -30px 30px 50px rgba(0,0,0,.4);
  transform: rotate(-3deg) skew(25deg);
}
h4:before,
h4:after
{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #fff;
  pointer-events: none;
  transform-style: linear;
  transition-property: width,opacity,transform,box-shadow;
  transition-duration: 0.5s;
}
h4:before
{
  top: 0;
  left: 0;
}
h4:after
{
  top: 0;
  right: 0;
}
h4:hover:before
{
   width:100%;
   opacity: 0.1;
   transform: translate(5px,-5px);
   box-shadow: +2px 2px 2px rgba(0,0,0,.1);
   transition-delay: 0s,0.5s,1s,1.5s;
}
h4:hover:after
{
   width:100%;
   opacity: 0.1;
   transform: translate(10px,-10px);
   box-shadow: +2px 2px 2px rgba(0,0,0,.1);
   transition-delay: 0s,0.5s,1s,1.5s;
}

/*.......................box................................*/


	
.box{
  width: 60%;
  position: relative;
  margin-top: 150px;
	padding-top: 40PX;
  top: 90%;
  left: 20%;
  background-color: rgba(0,0,0,0.00);
  text-align: center;
}
.box h3{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

/*...................radio.................................*/



.burger {
  display: flex;
  flex-direction: column;
  
}

.radios-boxes {
  display: flex;
	padding-left: 106px;
	padding-top: 250px;
}

.radios {
  display: flex;
  filter: url('#gooeyness');
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.radio {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 16px solid deeppink;
  cursor: pointer;
  height: 60px;
  margin: 10px;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  transition: border-color 800ms;
  width: 60px;
}

.radio.active {
  border-color: #dddfe0;
}

.ball {
  background: deeppink;
  border-radius: 50%;
  height: 34px;
  left: 23px;
  pointer-events: none;
  position: absolute;
  top: 23px;
  transform: translateY(-80px);
  transition: transform 800ms;
  width: 34px;
}

.ball.pos0 {
  transform: translateY(0px);
}

.ball.pos1 {
  transform: translateY(80px);
}

.ball.pos2 {
  transform: translateY(160px);
}

.ball.pos3 {
  transform: translateY(240px);
}

.labels {
  margin-left: 5px;
}

.label {
  color: deeppink;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  line-height: 50px;
  padding: 15px 0;
  -webkit-tap-highlight-color: transparent;
  transition: color 800ms;
    }

.label.active {
  color: deeppink;
}
   

/*................PAGE CONTENT............................*/

.page-content{
  min-height: 100vh;
  margin-top:20%; 
  margin-bottom: 40%;
  padding-bottom: 10%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:960px){
	.page-content{
  margin-top:20%; 
  margin-bottom: 40%;
  padding-bottom: 10%;
	}
}
@media screen and (max-width:700px){
	.page-content{
  min-height: 100vh;
  margin-top:20%; 
  margin-bottom: 90%;
  padding-bottom: 50%;
	}
}

/* .................FOOTER.....................*/

footer{
  
  background: #f1f1f1;
  padding: 50px 0;
  margin-top: 50%;
	top:300%;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #fc5c65;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  top: 15px;
  background: #fc5c65;
}

.covid19-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
